/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");

* {
  box-sizing: border-box;
  margin-top: 0;
}

html,
body {
  background-color: rgb(27, 27, 27);
}

/* Splash Page  */

.containerVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.background {
  object-fit: contain;
}

.btn {
  position: absolute;
  text-align: center;
  z-index: 1;
  margin-top: 60px;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  box-sizing: border-box;
  overflow: visible;
  font-family: "Bebas Neue";
  font-size: 40px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(white, #9198e5);
  color: black;
}

.headerVideo {
  position: absolute;
  font-family: "Bebas Neue";
  font-size: 50px;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Homepage */

.containerIndex {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 27);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: rgb(27, 27, 27);
  overflow: hidden;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  width: 100%;
}

.fa-bars {
  color: rgb(240, 228, 235);
  float: right;
  padding: 10px;
}

/* refers to class 'topnav' */
/* 'a' for anchor tag styles the text inside link */

.topnav a {
  float: left;
  color: rgb(230, 198, 218);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
}

.topnav a:hover {
  background-color: rgb(65, 50, 60);
}

/* refers to class 'hero' (meaning hero header)
this formats oversized background image*/
.hero {
  height: 100%;
  width: 100%;
  background: url(foldclub2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* formats title and page elements */
.hero-copy {
  padding-top: em(70);
  text-align: center;
}

#home-title {
  font-family: "Bebas Neue", cursive;
  font-size: 90px;
  color: #fff;
  padding: 0px;
  line-height: 3;
}

/* #home-title:hover {
  } */

.textbox {
  float: center;
  justify-content: center;
}

.textbox a {
  width: 200px;
  padding: 15px;
  margin: 0;
  border: 1px solid rgb(247, 243, 246);
  background-color: transparent;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.textbox a:hover {
  text-decoration: underline;
  background-color: rgb(197, 178, 193, 0.5);
  color: #fff;
}

.bottomnav {
  padding: 0px;
  background-color: rgb(39, 37, 38);
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.bottomnav a {
  float: left;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  text-decoration: none;
  color: rgb(230, 198, 218);
  padding: 10px 8px;
  text-align: center;
}

.bottomnav a:hover {
  text-decoration: underline;
}

.mailinglist p {
  font-family: "Bebas Neue";
  padding: 20px;
  color: whitesmoke;
  font-size: 20px;
  background-color: transparent;
}

p {
  margin: 0.5em 0 0.5em 0;
  font-family: "Bebas Neue";
}

.mailinglist form {
  font-family: "Bebas Neue";
  border: hotpink;
}

input[type="text"] {
  font-size: 14px;
  font-family: "Bebas Neue";
  color: rgb(49, 48, 48);
}

input[type="submit"] {
  font-size: 14px;
  font-family: "Bebas Neue";
  color: rgb(49, 48, 48);
}

input[type="submit"]:hover {
  background-color: rgb(139, 124, 136);
}

/* ABOUT */

.aboutHeader {
  text-decoration: underline;
  padding: 0px;
  margin: 30px 0px;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 80px;
}

.aboutH2 {
  padding: 0px 0px 30px 50px;
  font-size: 40px;
  font-style: italic;
  color: #ffffff;
}

.containerAbout {
  padding: 15px 0px;
  margin: 16px 0px;
  font-family: "Bebas Neue";
  font-size: 25px;
  text-align: justify;
  color: white;
}

.info {
  padding: 5px;
  margin-top: 0px;
}

.carousel-inner {
  padding: 0px 50px;
}

.carousel-control-prev-icon {
  margin-left: 35px;
}

.carousel-control-next-icon {
  margin-right: 35px;
}

.find {
  color: white;
}

.video {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

br {
  margin: 20px 0px;
}

hr {
  border-top: 3px solid #bbb;
  margin: 15px 20px;
}

footer {
  text-align: center;
  font-family: var(--bs-font-sans-serif);
  color: #ffffff;
}

/* Photo Gallery */
#gallery-title {
  font-family: "Bebas Neue";
  font-size: 50px;
  color: rgb(240, 229, 238);
  text-align: center;
  padding: 10px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(209, 191, 191, 0.8);
  color: white;
}

.slide-container .prev {
  left: 4px;
}

.slide-container .next {
  right: 4px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #3b3038;
}

.dots-container .dot.active {
  border: 3px solid rgb(226, 176, 205);
}

img {
  object-fit: contain;
  width: 100%;
  height: 350px;
}

/*EVENT*/
h2 {
  font-size: 105px;
}

h4 {
  font-size: 60px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: white solid 3px;
  padding: 50px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.eventbutton {
  background-color: #fff;
  border: none;
  color: black;
  font-family: "Bebas Neue", cursive;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.column_75 {
  width: 100%;
}

.column_25 {
  padding-top: 500px;
  padding: 2rem 6rem 2rem 0;
  border-left: white 2px solid;
}

/*Event Footer*/
.footer-container {
  background-color: black;
  padding: 0 0 0.5rem 0;
}

.footer {
  width: 50%;
  height: 100%;
  height: 30vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4rem;
  text-align: center;
}

.footer-heading h4 {
  margin-bottom: 2px;
  font-size: 80px;
}

.footer-heading p {
  font-size: 30px;
  margin-bottom: 2rem;
}

.footer-submit {
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}

#footer-email {
  width: 600px;
  height: 60px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

#footer-email::placeholder {
  color: black;
  font-family: "Bebas Neue", cursive;
}

#footer-email-submit-btn {
  width: 150px;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

#footer-email-submit-btn:hover {
  cursor: pointer;
  background-color: black;
  border: white 1px solid;
  color: white;
  transition: 0.15s ease-in;
}

/* Contact */

.column {
  float: left;
  width: 50%;
  padding: 0px 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.containerContact {
  font-family: "Bebas Neue";
  font-size: 23px;
}

.container-contact {
  padding: 0px 12px;
  margin: 0px 104px;
}

.headerContact {
  text-decoration: underline;
  padding: 0px;
  margin: 30px 0px;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 80px;
}

.h2Contact {
  padding: 0px;
  margin: 30px 0px;
  color: #ffffff;
  font-size: 40px;
  font-family: "Bebas Neue";
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 18px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: #45a049;
  font-size: 20px;
}

#country {
  font-family: "Bebas Neue";
}

#message {
  font-family: "Bebas Neue";
}

.containerContact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.h3Contact {
  padding: 0px;
  margin: 30px 0px;
  color: #ffffff;
  font-size: 40px;
  font-family: "Bebas Neue";
  text-decoration: underline;
}

.containerMap {
  z-index: 3;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  vertical-align: baseline;
  touch-action: pan-x pan-y;
}

.row {
  display: flex;
  border: none;
}

.column {
  flex: 50%;
}
