/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');



.container {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav {
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    width: 100%;
}

/* .fa-bars {
  color:rgb(240, 228, 235);
  float: right;
 
} */

/* refers to class 'topnav' */
/* 'a' for anchor tag styles the text inside link */

.topnav a { 
    float: left;
    color: rgb(230, 198, 218);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
}

.topnav a:hover {
    background-color: rgb(65, 50, 60)
}

/* refers to class 'hero' (meaning hero header)
this formats oversized background image*/
.hero {
    height:100%;
    width:100%;
    background: url(foldclub2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* formats title and page elements */
.hero-copy {
    padding-top: em(70);
    text-align: center;
}

#home-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    color: #fff;
}

#home-title:hover {
    color: rgb(31, 23, 39);
}

.textbox a {
    width: 200px;
    padding: 15px;
    margin: 0;
    border: 1px solid rgb(247, 243, 246);
    background-color: transparent;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.textbox a:hover {
    text-decoration: underline;  
    background-color:rgb(197, 178, 193, 0.5);   
}

.bottomnav {
    padding: 8px;
    background-color:rgb(39, 37, 38);
    overflow:hidden;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.bottomnav a {
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    text-decoration: none;
    color: rgb(230, 198, 218);
    padding: 10px 14px;
    text-align: center;
}

.bottomnav a:hover {
    text-decoration:underline;
}

.mailinglist p{
  font-family: 'Bebas Neue';
  padding: 20px;
  color: whitesmoke;
  font-size:20px;
  background-color: transparent;
}

p {
  margin: 0.5em 0 0.5em 0;
}

.mailinglist form{
  font-family: 'Bebas Neue';
  border:hotpink;
}

input[type="text"]
{
    font-size:14px;
    font-family: 'Bebas Neue';
    color: rgb(49, 48, 48);
}

input[type="submit"]
{
  font-size:14px;
  font-family: 'Bebas Neue';
  color: rgb(49, 48, 48);
}

input[type="submit"]:hover 
{
  background-color: rgb(139, 124, 136);
}


/* Photo Gallery */
#gallery-title{
    font-family:'Bebas Neue';
    font-size: 50px;
    color:rgb(240, 229, 238);
    text-align: center;

}


