/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');


* {
    box-sizing: border-box;
    margin-top: 0;
}

html, body {
  background-color: rgb(27, 27, 27);
}

.container {
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav {
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    width: 100%;
   
}

/* .fa-bars {
  color:rgb(240, 228, 235);
  float: right;
  padding: 10px;
 
} */

/* refers to class 'topnav' */
/* 'a' for anchor tag styles the text inside link */

.topnav a { 
    float: left;
    color: rgb(230, 198, 218);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
}

.topnav a:hover {
    background-color: rgb(65, 50, 60)
}

/* refers to class 'hero' (meaning hero header)
this formats oversized background image*/
.hero {
    height:100%;
    width:100%;
    background: url(foldclub2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* formats title and page elements */
.hero-copy {
    padding-top: em(70);
    text-align: center;
}

#home-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    color: #fff;
    padding: 0px;
}

/* #home-title:hover {
  } */

.textbox {
  float:center;
  justify-content:center;
}

.textbox a {
    width: 200px;
    padding: 15px;
    margin: 0;
    border: 1px solid rgb(247, 243, 246);
    background-color: transparent;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.textbox a:hover {
    text-decoration: underline;  
    background-color:rgb(197, 178, 193, 0.5);   
    color:#fff;
}

.bottomnav {
    padding: 0px;
    background-color:rgb(39, 37, 38);
    overflow:hidden;
    bottom: 0;
    width: 100%;
}

.bottomnav a {
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    text-decoration: none;
    color: rgb(230, 198, 218);
    padding: 10px 8px;
    text-align: center;
}

.bottomnav a:hover {
    text-decoration:underline;
}

.mailinglist p{
  font-family: 'Bebas Neue';
  padding: 20px;
  color: whitesmoke;
  font-size:20px;
  background-color: transparent;
}

p {
  margin: 0.5em 0 0.5em 0;
  font-family:'Bebas Neue';
}

.mailinglist form{
  font-family: 'Bebas Neue';
  border:hotpink;
}

input[type="text"]
{
    font-size:14px;
    font-family: 'Bebas Neue';
    color: rgb(49, 48, 48);
}

input[type="submit"]
{
  font-size:14px;
  font-family: 'Bebas Neue';
  color: rgb(49, 48, 48);
}

input[type="submit"]:hover 
{
  background-color: rgb(139, 124, 136);
}


/* Photo Gallery */
#gallery-title{
    font-family:'Bebas Neue';
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 10px;
  
    }

@keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
   
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
  }
  
  .slide-container .slide {
    display: none;
    width: 100%;
    
  }
  
  .slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  
  .slide-container .slide img {
    width: 100%;
  }

  .slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(209, 191, 191, 0.8);
  color: white;
}

.slide-container .prev {
  left: 4px;
}

.slide-container .next {
  right: 4px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #3b3038;
}

.dots-container .dot.active {
  border: 3px solid rgb(226, 176, 205);
}

img {
  float: center;
  object-fit: contain;
  width: 350px;
  height:350px;
  display:block;
} 

#photo-subtitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: #fff;
  padding: 0px;
}

.photo-section {
  padding-top: em(70);
  text-align: center;
}
